*.[oa]
*~
*.swp
*.swo
*.bin
*.map
*.SESH
*.elf
*.exe
*.lss
*.sym
*.pre
*.hex
*.out
*.sw*
node_modules/*
gerbers.zip
gerbers/
*.lck
public/
build_tools/toolchain/prefixer/*
build_tools/toolchain/eslint/node_modules
build_tools/toolchain/eslint/package.json
build_tools/toolchain/eslint/package-lock.json
!build_tools/toolchain/prefixer/README.md
stage/
build_tools/sources/libsass
build_tools/sources/sass-spec
