*.[oa]
*~
*.swp
*.swo
*.bin
*.map
*.SESH
*.elf
*.exe
*.lss
*.sym
*.pre
*.hex
*.out
*.sw*
node_modules/*
gerbers.zip
gerbers/
*.lck
public/
build_tools/toolchain/prefixer/*
build_tools/toolchain/eslint/*
!build_tools/toolchain/prefixer/README.md
!build_tools/toolchain/eslint/README.md
!build_tools/toolchain/eslint/.eslintrc.yml
stage/
build_tools/sources/libsass
build_tools/sources/sass-spec
