*.[oa]
*~
*.swp
*.swo
*.bin
*.map
*.SESH
*.elf
*.exe
*.lss
*.sym
*.pre
*.hex
*.out
*.sw*
node_modules/*
gerbers.zip
gerbers/
*.lck
build_tools/toolchain/prefixer/*
build_tools/toolchain/eslint/*
build_tools/toolchain/webpack/*
!build_tools/toolchain/prefixer/README.md
!build_tools/toolchain/eslint/README.md
!build_tools/toolchain/webpack/README.md
!build_tools/toolchain/webpack/package.json
!build_tools/toolchain/webpack/webpack.tsconfig.js
build_tools/sources/libsass
build_tools/sources/sass-spec
